/* Inicio regra comum todos os Dispositivos */
/* 
Sintaxe Básica para MediaQueries BASE CSS2

@media [media type] {
        estilos
}

*/

.titulo {
    margin: 20px 0 80px;
    text-align: center;
}

.conteudo-dispositivo {
    display: none;
    text-align: center;
}

/* Inicio de Regra Referente a Dispositivos com Max-Width 480px */

@media only screen and (max-width: 480px) {
    body {
        background-color: #D46A6A;
        color: #fff;
    }

    .conteudo-dispositivo.pequeno {
        display: block;
    }
}

/* only: É utilizado quando se deseja prevenir
 *que navegadores antigos que não suportam Media
 *Features tentem processar a expressão.  */

/* 
and: É utilizado em todas as Media Queries, 
tendo como função primária ser o elo entre o 
Media Type e a Media Feature. É também responsável 
pelas expressões múltiplas, isto é, quando usamos mais 
de uma Media Feature para compor a expressão.
*/

/* Regra Referente a dispositivos entre 481px e 1024px de width*/

@media only screen and (min-width: 480px) and (max-width:1024px) {
    body {
        background-color: #d46161;
        color: #fff;
    }

    /* Na logica um mediaquerie, funciona como um bloco if(caso de 2 chaves e valores)
    Ex: Se Max-width for <= 1024 px e min-width for >= 480px {
        return display:block;
        se nao default display:none
        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^Apenas um Exemplo
    }
    ; */

    .conteudo-dispositivo.medio {
        display: block;
    }
}

/* INICIO REGRAS CSS REFERENTES À TERCEIRA VERSÃO */
@media only screen and (min-width: 1025px) {

    body {
        background-color: #D4CE6A;
        color: #000;
    }

    .conteudo-dispositivo.grande {
        display: block;
    }

}

/* INICIO REGRAS CSS REFERENTES À QUARTA VERSÃO */
@media print {

    .titulo {
        margin: 0 0 50px;
        text-align: left;
    }

    .conteudo-dispositivo {
        text-align: left;
    }

    body {
        background-color: #FFF;
        color: #000;
    }

    .conteudo-dispositivo.impressao {
        display: block;
    }

}

/* ^Regra de Conteudo para Impressão^ */